* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

header {
	width: 100%;
	height: 700px;
	background: url('images/header.jpg') rgba(0, 0, 0, 0.5);
	background-size:cover;
	background-blend-mode: multiply;
}

.top-bar{
	width: 90%;
	height: 100px;
	margin: 0 auto;
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
}

img.logo {
	height: 50px;
}

.header-text {
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	top: 25%;
}

.header-text h1 {
	font-size: 400%;
}

.header-text p {
	font-size: 200%;
	width: 650px;
	margin: 0 auto;
}

.netflix-button {
	display: block;
	width: 120px;
	height: 45px;
	background: #E50914;
	text-align: center;
	color: white;
	line-height: 45px;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.netflix-button:hover {
	background: #CE0B12;
}

.imdb-button {
	display: block;
	width: 120px;
	height: 45px;
	background: #F5C518;
	text-align: center;
	color: black;
	line-height: 45px;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.imdb-button:hover{
	background: #f9e5a2;
}

footer{
	width: 100%;
	background: #000000;
	min-height: 500px;
}

.footer-content {
	width: 40%;
	margin: 0 auto;
	color: white;
	padding: 200px 0px;
	font-size: 150%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-content li {
	margin-left: 30px;
	font-style: italic;
	font-weight: lighter;
}

.footer-content li a {
	font-style: italic;
	font-weight: lighter;
	color: white;
	text-decoration: none;
}

.footer-content li a:hover {
	color: #eeeeee;
}

ul.address {
	list-style: none;
}

.copyright {
	text-align: center;
	color: #dddddd;
	padding-bottom: 30px;
}

section {
	min-height: 500px;
	width: 80%;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
}

section h2 {
	font-size: 200%;
	color: #E50914;
}

section ol {
	margin: 30px 0px 0px 60px;
}

section ol li {
	font-size: 250%;
}

section ol li a {
	color: black;
	text-decoration: none;
}

section ol li a:hover {
	color: #543233;
}

article.article-img {
	width: 60%;
	min-height: 300px;
}

article#tv-show-img {
	background: url('images/tv-shows.jpg');
	background-position: center;
	background-attachment: fixed;
}

article#movies-img {
	background: url('images/movies.jpg');
	background-position: left top;
	background-attachment: fixed;
}

header#you {
	background: url('images/you.jpg') rgba(0, 0, 0, 0.5);
	background-size:cover;
	background-blend-mode: multiply;
}

header#sex-life {
	background: url('images/sex-life.jpeg') rgba(0, 0, 0, 0.5);
	background-size:cover;
	background-blend-mode: multiply;
}

.article-table{
	width: 100%;
}

table {
	width: 100%;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	font-size: 130%;
	margin-top: 30px;
}

td, th {
	border: 1px solid #dddddd;
	padding: 5px;
}

tbody tr:nth-child(even) {
	background: #eeeeee;
}

